<!DOCTYPE html>
<html ng-app="myREST" ng-controller="myRESTCtrl" xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>July Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Cart)}"/>

    <h2>Корзина</h2>

    <span th:unless="${@cart.items.size() > 0}">Ваша корзина пуста</span>
    <table class="table table-striped" th:if="${@cart.items.size() > 0}">
        <thead>
        <tr>
            <td>Название</td>
            <td>Количество</td>
            <td>Цена</td>
            <td>Операции</td>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="item in OrderItems">
            <td>{{item.product.title}}</td>
            <td>
<!--                <a class="btn btn-primary" th:href="@{'/cart/decrement/' + ${i.product.id}}">-</a>-->
                <span >{{item.quantity}}</span>
<!--                <a class="btn btn-primary" th:href="@{'/cart/add/' + ${i.product.id}}">+</a>-->
            </td>
            <td>{{item.price}}</td>
            <td><button class="btn btn-danger" ng-click="removeItemFromCart(item.id)">Удалить</button></td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" th:href="@{'/orders/create'}" th:if="${@cart.items.size() > 0}">Оформить заказ</a>
</div>
</body>
<script>
    var app = angular.module('myREST', []);
    app.controller('myRESTCtrl', function ($scope, $http) {
        fillTable = function () {
            $http.get("http://localhost:8189/market/api/v1/cart")
                .then(function (response) {
                    $scope.OrderItems = response.data;
                });
        };
        fillTable();

        $scope.removeItemFromCart = function (itemId) {
            $http.delete("http://localhost:8189/market/api/v1/cart/" + itemId)
                .then(function (response) {
                    $scope.OrderItems = response.data;
                });
        }
        // $scope.addProductToCart = function (productId) {
        //     $http.post("http://localhost:8189/market/api/v1/cart/" + productId)
        // };
    });
</script>
</html>